<div class="page-header container">
	<div class="row text-center">
		<div class="col-md-4">
			
			<img ng-src="{{ beer.image }}"/>
		</div>
		<h3>Write a beer review for {{beer.name}}:</h3>
		<form class="col-md-8" ng-submit="console.log('test')" ng-show="currentUser.username"  >
			
			<div class="form-group">
			<!-- entry for beer name-->
				<input type="text" class="form-control" placeholder="How do you like this beer?" ng-model="review"/>
			</div>
			<button type="submit" class="btn btn-primary">Submit Review</button>
			<br>
			<h3>REVIEWS:</h3>
			<div>
				<p>Example review</p>
			</div>
		</form>
	</div>
</div>

