<div class="container">
    <div class="row">
            <!-- form for beer details-->
        <div class="col-md-6 col-md-offset-3">
        	<form ng-submit="addBeer()">
	        	<h3>Add a new beer</h3>
	        	<div class="form-group">
	            <!-- entry for beer name-->
	            		<input type="text" class="form-control" placeholder="Beer Name" ng-model="name"/>
	            </div>
	            <div class="form-group">
	                <!-- entry for beer style-->
	                <input type="text" class="form-control" placeholder="Style" ng-model="style"/>
	            </div>
	            <div class="form-group">
	                <!-- entry for alcohol by volume-->
	                <input type="text" class="form-control" placeholder="ABV%" ng-model="abv"/>
	            </div>
	            <div class="form-group">
	                <!-- entry for beer image url-->
	                <input type="text" class="form-control" placeholder="Image URL" ng-model="image"/>
	            </div>
	            <div class="form-group">
	                    <!-- entry for beer rating-->
	                <select class="form-control" ng-model="rating">
	                    <option value="">Rate this beer</option>
	                    <option value="1">1</option>
	                    <option value="2">2</option>
	                    <option value="3">3</option>
	                    <option value="4">4</option>
	                    <option value="5">5</option>
	                </select>
	            </div>
	            <button type="submit" class="btn btn-primary">Add</button>
        	</form>
                
        </div>
    </div>
</div>

        <!-- Title for beerlist and sort buttons -->
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>BeerList</h1>
        <!-- sort button-->
        <h3><span class="glyphicon glyphicon-sort" aria-hidden="true" ng-click="sortBeers()"></span></h3>
        <div class="page-header">
        </div>
    </div>
</div>   

        <!-- Render area for beers -->
<div class="row">
    <div class="col-md-4 text-center beer-block" ng-repeat="beer in beers| orderBy: 'rating': reverse track by $index">
                <!-- remove/edit button-->
        <img ng-src="{{ beer.image }}"/>
        <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeBeer(this.beer)"></span>
                
                <!-- regular display -->
        <div ng-hide="edit">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="editBeer($index)"></span><br>
            <h3>{{ beer.name }}</h3>  
            <h4>{{ beer.abv }}% abv.</h4>
            <h4>{{ beer.style }}</h4>
        </div>

                <!-- display while editing-->
        <div ng-show="edit">
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="updateBeer(beer);"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="cancelEdit($index)"></span><br>
            <input type="text" ng-model="beer.name"><br>
            <input type="text" ng-model="beer.abv"><br>
            <input type="text" ng-model="beer.style">
            <br><br>
        </div>

                
        <h4>Average Rating: {{ avgFun(beer.rating) }}</h4>
        <h4>({{ beer.rating.length }} ratings)</h4>
            <!-- entry for user beer rating-->
        <select class="form-control" ng-model="userRating">
            <option value="">Add your own rating</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="button" class="btn btn-info" ng-click="addRating(this.beer._id,this.userRating)">Submit your rating</button><br>
        <button type="button" class="btn btn-info"><a class="review-link" ui-sref="beer({id: beer._id, beerParam: beer})">Reviews</a></button>
                
    </div>
</div>